{% extends 'pages/authenticated.html' %} {% load static %} {% load crispy_forms_tags %} {% block pagename %}Update Profile
{% endblock %} {% block content %}
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Update Profile</h1>
            <hr class="my-4">
            <p class="lead"></p>
        </div>
    </div>
    <div class="container" style="padding-bottom: 50px; width: 70%;">
        <form method="post">
            {% csrf_token %} {{ form|crispy }}
            <center>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px"> Update </button>
            </center>
        </form>
    </div>
</div>
{% endblock %}