{% extends 'pages/authenticated.html' %} {% load static %} {% load crispy_forms_tags %} {% block pagename %}Update Profile
{% endblock %} {% block content %}
<div>
    <div class="jumbotron jumbotron-fluid" style="height: 1%; background-color:#f4f7f6; color: #e24e42;">
        <div class="container">
            <h1 class="display-4" style="color: #e24e42; font-family: 'Major Mono Display', monospace;">Update Profile</h1>
            <hr class="my-4">
            <p class="lead">This is your the one and only place to update your profile. Change whatever you'd like and make sure
              you put enough information so others can find you. When you're done make sure to save everything by pressing the update 
              button at the bottom of this page. </p>
        </div>
    </div>
    <div class="container" style="padding-bottom: 50px; width: 70%;">
        <form method="post">
            {% csrf_token %} {{ form|crispy }}
            <center>
                <button type="submit" class="btn btn-primary" style="background-color: #e24e42; border-color:#c12417;"> Update </button>
            </center>
        </form>
    </div>
</div>
{% endblock %}
