{% extends 'pages/base.html' %} {% block pagecontent %}
<div class="container-fluid" style="background-color:#008F95; font-family: 'Assistant', sans-serif;">
	<div class="container">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link text-light font-weight-bold" href="{% url 'pages:feed' %} ">Main Feed</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light font-weight-bold" href="{% url 'pages:profile' %}/{{request.user.profile.computing_id}} ">Your Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light font-weight-bold" href="{% url 'pages:edit_profile' %} ">Edit Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light font-weight-bold" href="{% url 'login:logout' %} ">Logout</a>
			</li>
		</ul>
	</div>
</div>

{% block content %} {% endblock %} {% endblock %}
