{% extends 'pages/profile.html' %}

{% load static %}

{% block pagename %}Profile{% endblock %}

{% block pagecontent %}

<head>
	<TITLE> Skilletz - Student Availability Page </TITLE>
</head>

<body>
	<div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Your Availability Page</h1>
				<hr class="my-4">
			</div>
		</div>
		<div>
			<form action = "/action_page.php" target = "_self" method = "psot">
				<p>Name: </p>
				<input type="text" name = "Subject"><br>
				<input type="radio" name = "Times" value="Sunday"><br>
				<input type="radio" name = "Times" value="Monday"><br>
				<input type="radio" name = "Times" value= "Tuesady"<br>
				<input type="radio" name = "Times" value="Wednesday"> <br>
				<input type="radio" name = "Times" value="Thursday"><br>
				<input type="radio" name = "Times" value="Friday"><br>
				<input type="radio" name = "Times" value="Saturday"><br>
				<button type="submit" class="btn btn-success">Upload</button>
			</form>
		</div>
	</div>
</body>

{% endblock %}
