{% extends 'pages/profile.html' %}

{% load static %}

{% block pagename %}Profile{% endblock %}

{% block pagecontent %}

<head>
	<TITLE> Skilletz - Student Availability Page </TITLE>
</head>

<body>
	<div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">
					Your Availability Page
				</h1>
			</div>
		</div>
		<table style="width:100%">
			<tr>
				{% for day in days_to_view %}
					<th>{{ day }}</th>
				{% endfor %}
			</tr>
			{% for hour in accessible_hours %}
				<tr>
					{% for day in days_to_view %}
						<td>
							{{ hour }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
</body>

{% endblock %}

