{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block pagename %}{% endblock %}</title>

		<!-- Bootstrap inclusion-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


		<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
		<!--
			Since we will probably want Bootstrap on all of our pages, that also
			might go here, etc.
		-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row navbar-row">
				<div class="col-sm-10">
					<!-- filler for space -->
				</div>
				<a>
					<div class="col-sm-2">
						Login
					</div>
				</a>
			</div>
		</div>

		{% block pagecontent %}{% endblock%}
	</body>
<html>
