{% extends 'pages/authenticated.html' %} {% load static %} {% block pagename %}Feed{% endblock %} {% block content %}
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Feed</h1>
            <hr class="my-4">
            <p class="lead">Welcome, dude {{ request.user.profile.first_name }}</p>
        </div>
    </div>
    <div class="container">
        Search:
        <input label="Search"> </input>
        <br/>
        <br/>
        <ul style="none">
            <div style="background-color:gray; color:black; padding:20px">
                Profile bio
            </div>
            </br>
            <div style="background-color:gray; color:black; padding:20px">
                Profile bio
            </div>
            </br>
            <div style="background-color:gray; color:black; padding:20px">
                Profile bio
            </div>
            </br>
            <div style="background-color:gray; color:black; padding:20px">
                Profile bio
            </div>
        </ul>
    </div>
</div>
{% endblock %}