{% extends 'pages/base.html' %}

{% load static %}

{% block pagename %}Home{% endblock %}

{% block pagecontent %}
<div>
	<div class="container-fluid" style="background-color:#008F95;">
		<div class="container">
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link text-light font-weight-bold" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="jumbotron jumbotron-fluid" style="height: 1%; background-color:#f4f7f6; color: #e24e42;">
		<div class="container">
			<h1 class="display-3" style="font-family: 'Major Mono Display', monospace;">Skilletz</h1>
			<hr class="my-4">
			<p class="lead">Connecting students to the people they need</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 style="color:#60b8bc;">Problem</h3>
				<hr class="my-2">
				<p class = lead"">
					Who hasn't needed to find study partners and groups throughout the college grind? Whether
					you are looking for group mates for semester long projects, want help from students that
					have already taken a class, or just need to cram for that exam coming up, we have you
					covered.
				</p>
				<p>
					We at Skilletz think that finding peers is too hard, and it really shouldn't be. We should
					be able to find peers based on major, classes, or experience without any trouble.
					We hope to make the spread of information easier, and to help all students learn in the
					environment that suits them best.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 mt-4">
				<h3 style="color:#60b8bc;">Getting Started</h3>
				<hr class="my-2">
				<p>
					With Skilletz, connecting with your peers is as easy as one, two, three.
				</p>
				<ol>
					<li>Login with your UVA email account with the button in the top right corner</li>
					<li>Create your profile with basic information used to find student matches</li>
					<li>Explore! Flesh out your profile, search for peers, and enjoy.</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}
