{% extends 'pages/authenticated.html' %} {% load static %} {% block pagename %}Profile{% endblock %} {% block content %}
{% load crispy_forms_tags %}
{%load static%}

<div>
	<div class="jumbotron jumbotron-fluid" style="height: 1%; background-color:#f4f7f6; color: #e24e42;">
		<div class="container" >
			<h1 class="display-4" style="font-family: 'Major Mono Display', monospace;">
				{% for user in users %} Profile   {% if user.computing_id != request.user.profile.computing_id %} {% if bool == True %}<a href="/like/{{user.computing_id}} " class="btn btn-success" style="margin-left: 3%;background-color:#60b8bc; font-family: 'Assistant', sans-serif;">Like!</a> {% endif %} {% if bool == False %} <a href="/like/{{user.computing_id}}" class="btn btn-danger" style="margin-left: 3%; font-family: 'Assistant', sans-serif;">Unlike</a>{%endif%}{% endif %}
				<br>

			</h1>
			<hr class="my-4">
			<p>
				{{user.first_name}} {{user.last_name}} | &nbsp;<a href="mailto:{{user.user.email}}" style="color: #e24243">{{user.user.email}}</a> &nbsp;| {{user.major}}
			</p>
		</div>
	</div>
	<div>
		<section>
			<center style="padding-top: 2%">
				<div class="my-3 p-4" style="text-align: left; width: 60%; background: #fcfcfc; border: 1.2px solid #008F95">
					<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b>About me </b></p>
					{{user.bio}}
				</div>
			</center>
			<center style="padding-top:2%">
				<div class="my-3 p-4" style="text-align: left; width: 60%; background: #fcfcfc; border: 1.2px solid #008F95">
				<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b> My Current Courses </b></p>
				{% for course in user.courses.all %}
						<li> {{course.mnemonic}} {{course.number}}: {{course.title}}</li>
				{% endfor %}
				</div>
			</center>
			<center style="padding-top:2%">
				<div class="my-3 p-4" style="text-align: left; width: 60%; background: #fcfcfc; border: 1.2px solid #008F95">
				<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b>My Weekly Availability </b></p>
				{% for ai in user.availability.all %}
						<li> {{ai.display_text}}</li>
				{% endfor %}
				</div>
			</center>

			{% if request.user.profile.computing_id == user.computing_id %}
			<center style="padding-top: 2%">
			<center class="row d-flex justify-content-around" style="width: 60%">
				<div class="col-sm-4 p-4" style="text-align: left; background: #fcfcfc; border: 1.2px solid #008F95">
				<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b> People Who I Like </b></p>
				{% for person in user.people_who_I_like.all %}
				<a class="nav-link " style="color:#008F95" href="{% url 'pages:profile' %}/{{person.liked}} ">{{person.liked}}</a>
				{% endfor %}
				</div>



				<div class="col-sm-4 p-4" style="text-align: left; background: #fcfcfc; border: 1.2px solid #008F95">
				<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b> People Who Like Me </b></p>
				{% for person in user.people_who_like_me.all %}
						<a class="nav-link " style="color:#008F95" href="{% url 'pages:profile' %}/{{person.liker}} ">{{person.liker}}</a>
				{% endfor %}
				</div>
			</center>
			</center>

			{% endif %}
		</section>
	</div>
</div>

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>{% endif %}
<br>
<br>
<section>
	<div class="container-fluid bg-light">
		<div class="container">
			<div class="row">
				<h3 class="display-6" style="padding-top: 3.5%; color: #e24e42;"> Reviews and Comments</h3>
			</div>


			{% for comment in comments %}

				{%if comment.comment_title != "" and comment.comment_rating != 0 and comment.comment_descr != "" %}
				<hr class="my-4">

				<p><b>{{comment.comment_title}} - {{comment.rating}}</b></p>


				<p> {{comment.comment_descr}} </p>

				{%endif%}

			{%endfor%}

<center>
<hr class="my-4">
{%if request.user.profile.computing_id != user.computing_id%}
	<div class="my-3 p-4" style="text-align: left; width: 60%; background: #fcfcfc; border: 1.2px solid #008F95">
			<p style="border: 1.2px solid #008F95; padding: 2%; text-align: center; background-color: #60b8bc; color: white"><b>New review for this user:</b></p>
			<div class="row">
			</div>

			<div class="row">
				{{form|crispy}}
				<form action="{% url 'pages:profile_page' user.computing_id %}" method="post">
					{% csrf_token %} *Rating: ☆
					<input type="radio" name="rating" value="☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆
					<input type="radio" name="rating" value="☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆
					<input type="radio" name="rating" value="☆☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆☆
					<input type="radio" name="rating" value="☆☆☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆☆☆
					<input type="radio" name="rating" value="☆☆☆☆☆"><br><br>
					<input type="text" placeholder= "*Comment Title" name="title"> <br>
					<label for="title" Comment.comment_title</label><br>
						<textarea placeholder="*Comment Description" rows = "4" cols = "50" name="description"></textarea> <br>
						<label for="description" Comment.comment_descr</label>
							<button type="submit" class="btn btn-primary" style="margin-left: 3%;background-color:#60b8bc; font-family: 'Assistant', sans-serif;">Submit</button>
				</form>
			</div>
			</div>
		</div>
	</div>
</section>
</center>
{%endif%}


{%endfor%} {% endblock %}
