{% extends 'pages/authenticated.html' %} {% block content %}
<div>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Feed</h1>
			<hr class="my-4">
		</div>
	</div>
	<div>
		<form method="get">
			{{filter.form.as_p}}
			<button type="submit">Search</button>
		</form>
		<ul>
			{% for profile in filter.qs %}
			<li>
					<a class="nav-link" href="{% url 'pages:profile' %}/{{profile.user}}">{{profile.user}} - {{profile.first_name}} {{profile.last_name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
