{% extends 'pages/authenticated.html' %} {% load static %} {% block pagename %}Profile{% endblock %} {% block content %}
{% load crispy_forms_tags %}

<div>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">
				{% for user in users %} {{user.first_name}} {{user.last_name}}'s Profile
				<br>

			</h1>
			<hr class="my-4">
			<p>
				{{user.computing_id}}@virginia.edu | {{user.major}}
			</p>
		</div>
	</div>
	<div>
		<section>
			<br>
			<center>
				<img src=" {{ user.profile_pic.url }} " alt="User has not uploaded a profile picture yet." height="200" width="200">
				<div style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;text-align: left;width: 60%; margin:3.5%; background: #f4f6f7; border-radius:15px; border: 1px solid #343a40">
					<p> Insert Bio here!</p>
				</div>
			</center>
			<p>
				<a href="https://skilletz-app.herokuapp.com/availability">Calendar</a>
			</p>
			<p><a href=" {{ user.resume.url }} " target="blank"> Resume </a></p>
		</section>
	</div>
</div>

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>{% endif %}
<br>
<br>
<section>
	<H2 class="display-6"> Reviews and Comments: </H2>
	<div class="jumbotron jumbotron-fluid">
		<div="container">

			{% for comment in comments %}
			<i> {{request.user.profile.first_name}} says:</i>
			<br>
			<b>{{comment.comment_title}} - - - - - - - - - - - - - - - {{comment.rating}}</b>
			<br> {{comment.comment_descr}}
			<br>
			<br> {%endfor%}

			<br>
			<br>
			<br>
			<H5 class="display-6"> New Review for this User: </H5>

			{{form|crispy}}
			<form action="{% url 'pages:profile_page' user.computing_id %}" method="post">
				{% csrf_token %} Rating: ☆
				<input type="radio" name="rating" value="☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆
				<input type="radio" name="rating" value="☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆
				<input type="radio" name="rating" value="☆☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆☆
				<input type="radio" name="rating" value="☆☆☆☆"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆☆☆☆☆
				<input type="radio" name="rating" value="☆☆☆☆☆">
				<br> Title:
				<input type="text" name="title">
				<label for="title" Comment.comment_title</label>
					Description:
					<input type="text" name="description">
					<label for="description" Comment.comment_descr</label>
						<button type="submit" class="btn btn-primary">Submit</button>
			</form>
	</div>
</section>


{%endfor%} {% endblock %}