{% extends 'pages/authenticated.html' %}

{% load widget_tweaks %}
{% load static %}

{% block pagename%}Feed{% endblock %}

{% block content %}

<div>
	<div class="jumbotron jumbotron-fluid" style="height: 1%; background-color:#f4f7f6; color: #e24e42;">
		<div class="container">
			<h1 class="display-4" style="color: #e24e42; font-family: 'Major Mono Display', monospace;">Feed</h1>
			<hr class="my-4">
			<p class="lead">
				This is the main feed page. Here you can use a user's first name, last name, computing ID, major, availability
				times or courses to find them out of all the users in the Skilletz community. If you want to look at someone's
				 profile just click on their name to get to know them better.
			</p>
		</div>
	</div>
	<div style="padding-left: 5%; padding-right: 5%">
		<form method="get">
			<div class="well" style="background: #fcfcfc; border: 1.2px solid #008F95">
				<h4 style="padding: 2%; text-align: center; background-color: #60b8bc; color: white">Filter</h4>
				<div class="well-form" style=" margin:3.5%;">
					<div class="row">
						<div class="form-group col-sm-4">
							{{ filter.form.first_name.label_tag}} {% render_field filter.form.first_name class="form-control" %}
						</div>
						<div class="form-group col-sm-4">
							{{ filter.form.last_name.label_tag}} {% render_field filter.form.last_name class="form-control" %}
						</div>
						<div class="form-group col-sm-4">
							{{ filter.form.computing_id.label_tag}} {% render_field filter.form.computing_id class="form-control" %}
						</div>
						<div class="form-group col-sm-4">
							{{ filter.form.major.label_tag}} {% render_field filter.form.major class="form-control" %}
						</div>
						<div class="form-group col-sm-4">
							{{ filter.form.availability.label_tag}} {% render_field filter.form.availability class="form-control" %}
						</div>
						<div class="form-group col-sm-4">
							{{ filter.form.courses.label_tag}} {% render_field filter.form.courses class="form-control" %}
						</div>
					</div>
					<center>
						<button type="submit" class="btn btn-primary" style="background-color: #e24e42; border-color:#c12417;">
							<span class="glyphicon glyphicon-search"></span> Search </button>
					</center>
				</div>
			</div>
		</form>
		<br>
		</br>
		<div style="border: 1.2px solid #008F95; margin-bottom: 50px">
			<table class=" table table-hover ">
				<thead style="background-color: #60b8bc; color: white">
					<tr>
						<th> Name</th>
						<th> Major</th>
						<th> Computing ID</th>
						<th> Liked? </th>
					</tr>
				</thead>
				<tbody>
					{% for profile in filter.qs %}
					<tr>
						<td>
							<a class="nav-link" style="color:#008F95" href="{% url 'pages:profile' %}/{{profile.user.profile.computing_id}} ">{{profile.first_name}} {{profile.last_name}}</a>
						</td>
						<td>
							{{profile.major}}
						</td>
						<td>
							{{profile.computing_id}}
						</td>
						<td>
							{%for person in request.user.profile.people_who_I_like.all%}
								{%if person.liked == profile.computing_id%}
									<h3 style="color: #e24e42;"> ✔ </h3>
								{%endif%}
							{%endfor%}
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="5 ">No data</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
